*{
    margin:0;
    padding:0;
}
body{
    width:100vw;
    height:100vh;
}
div.jugelizi{
    display: flex;
    justify-content: center;
}
div.jugelize>img{
    display: block;
    margin:0 auto;
    width:100%;
    height:100vh;
}